{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Music Player Add Song</title>
    <link rel="stylesheet" href=" {% static 'main/css/style.css' %} ">
    <link rel="icon" type="image/png" href= "{% static 'main/media/favicon.ico' %}">
</head>
<body>
<header>
    <div class="header_logo">
        Adding Music
    </div>
</header>


<form class="add-form" method="post" enctype= multipart/form-data>
    {% csrf_token %}

    <label for="id_title" class="label_playlist" style="margin-top: 25px">
        Title
    </label>
    <input type="text" name="title" id="id_title" maxlength="500" required="" placeholder="Enter song title" class="text_input"><br>

    <label for="id_artist" class="label_playlist">
        Artist
    </label>
    <input type="text" name="artist" id="id_artist" maxlength="500" required="" placeholder="Enter song artist" class="text_input"><br>


    <label for="id_playlist" class="label_playlist">
        Playlist
    </label>
    <input type="text" name="playlist" id="id_playlist" maxlength="500" required="" placeholder="Enter playlist title" class="text_input"><br>

    <label for="id_time_length" class="label_playlist">
        Time length
    </label>
    <input type="number" name="time_length" step="0.01" id="id_time_length" class="text_input" placeholder="0.00">

    <label for="id_audio_file" class="label_playlist">
        Audio file
    </label>
    <input type='file' accept="audio/mp3" name="audio_file" class="select" onchange="showname('audio')" id="id_audio_file" required />

    <label for="id_cover_image" class="label_playlist">
        Cover image
    </label>
    <input type='file' accept="image/*" name="cover_image" class="select" onchange="showname('image')" id="id_cover_image" required />

    <button type="submit" class="btn_submit">Submit</button>
</form>

<script>
    function showname (type) {
    if(type=='audio'){
        var name = document.getElementById('id_audio_file');
    }else{
        var name = document.getElementById('id_cover_image');
    }
    const file_name= name.files.item(0).name
    document.querySelector(`.details-${type}`).textContent=`${file_name}`
    }
</script>

</body>

</html>