{% load static %}
{% load music_tag %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Music Player</title>
    <link rel="stylesheet" href=" {% static 'main/css/style.css' %} ">
    <link rel="icon" type="image/png" href= "{% static 'main/media/favicon.ico' %}">
</head>
<body>
<header>
    <div class="header_logo">
        Django Music Player
    </div>
</header>

<div class="player">
    <div class="imgbox">
        <img src="{% static 'main/media/music_placeholder.png' %}" alt="music cover" class="music_cover">
    </div>
    <p class="songname">Title</p>
    <p class="songauthor">Artist</p>
    <div class="middle">
        <div class="slider-container">
            <span class="bar"><span class="fill"></span></span>
            <input id="slider" class="slider" type="range" min="0" max="100" value="0">

        </div>
    </div>
    <div class="timer">
        <span class="current-time">0:00</span>
        <span class="total_duration">0:00</span>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.slim.min.js"></script>
    <script>
        var $slider = $("#slider");
        var $fill = $(".bar .fill");

        function setBar() {
            $fill.css("width", $slider.val() + "%");
        }

        $slider.on("input", setBar);
        setBar();
    </script>

    <div class="buttons">
        <div class="prev-track"><img src="{% static 'main/media/previous.svg' %}" alt="prev"></div>
        <div class="play-track"><img src="{% static 'main/media/play.svg' %}" alt="play" class="play_btn"></div>
        <div class="next-track"><img src="{% static 'main/media/next-track.svg' %}" alt="next "></div>
    </div>


</div>

<div class="music-list">
    <div class="playlist-information">
        <div class="small-img-box">
            <img src="{% static 'main/media/music_placeholder.png' %}" alt="small-img-box">
        </div>
        <div class="small-playlist-info">
            <p class="playlist-name">Title</p>
        </div>
    </div>

    <ul class="songs">

        {% for comp in composition %}

            <li class="song">
                <div style="cursor: pointer; margin-left: 9px;"><img class="play_img"
                                                                     src="{% static 'main/media/icon1.svg' %}"
                                                                     alt="play">
                </div>
                <p class="song-name" style="margin-left: 14px; width: 185px">{{ comp.title }} - {{ comp.artist }}</p>
                <p class="song-name" style="margin-right: 3px">{{ comp.time_length | time_formatter }}</p>
                <div class="delete-song" style="cursor: pointer; margin-left: 8px; margin-top: -8px"><img
                        src="{% static 'main/media/minus.svg' %}" alt="minus">
                </div>
            </li>

        {% endfor %}


        <a href="/add_song"><div class="add_song" ><img src="{% static 'main/media/plus.svg' %}" alt="prev"></div></a>

    </ul>


</div>

<audio class="audio-player" preload="metadata"
       src=''></audio>

{{ composition_list | json_script:"musics" }}

<script>

    const player = document.querySelector('.audio-player')
    const play = document.querySelector('.play-track')
    const prev = document.querySelector('.prev-track')
    const next = document.querySelector('.next-track')
    const duration = document.querySelector('.total_duration')
    const currentTime = document.querySelector('.current-time')
    const progress = document.querySelector('.slider')
    const progress_container = document.querySelector('.bar')
    const play_button = document.querySelector('.play_btn')
    const progress_line = document.querySelector('.fill')

    const audio_tracks = document.querySelector('.songs')
    const song_title = document.querySelector('.songname')
    const artist = document.querySelector('.songauthor')
    const playlist_name = document.querySelector('.playlist-name')
    const music_img = document.querySelector('.music_cover')

    const add_song = document.querySelector('.add_song')

    // init music indexing
    let compositionIndex = 0

    // get music from DOM
    const musics = JSON.parse(document.getElementById('musics').textContent)

    // functions
    const setSRC = () => {
        player.src = `{{ MEDIA_URL }}/${musics[compositionIndex].audio_file}`
        song_title.textContent = musics[compositionIndex].title
        artist.textContent = musics[compositionIndex].artist
        music_img.setAttribute('src', `{{ MEDIA_URL }}/${musics[compositionIndex].cover_image}`)
        playlist_name.textContent = musics[compositionIndex].playlist
    }

    const playOrPause = () => {
        if (player.paused) {
            play_button.src = "{% static 'main/media/pause.svg' %}"
            player.play()
        } else {
            play_button.src = "{% static 'main/media/play.svg' %}"
            player.pause()
        }
    }

    const formatTime = (secs) => {
        let min = Math.floor((secs % 3600) / 60)
        let sec = Math.floor(secs % 60)
        if (sec < 10) {
            sec = `0${sec}`
        }
        return `${min}:${sec}`
    }

    // load music on refresh
    setSRC()
    player.pause()

    // when play is clicked
    play.addEventListener('click', () => {
        playOrPause()
    })

    // load duration of music for UI
    player.addEventListener('loadedmetadata', () => {
        duration.textContent = formatTime(player.duration)
    })

    // update progress bar
    player.addEventListener('timeupdate', () => {
        let sec = player.currentTime
        let total = player.duration
        let audio_played = Math.round((sec / total) * 100)
        currentTime.textContent = formatTime(player.currentTime)
        progress_line.style.width = `${audio_played}%`
        progress.value = audio_played
    })

    // when prev btn is clicked
    prev.addEventListener('click', () => {
        compositionIndex = compositionIndex - 1
        if (compositionIndex < 0) {
            compositionIndex = musics.length - 1
        }
        setSRC()
        playOrPause()
    })

    // when next btn is clicked
    next.addEventListener('click', () => {
        compositionIndex = compositionIndex + 1
        if (compositionIndex > musics.length - 1) {
            compositionIndex = 0
        }
        setSRC()
        playOrPause()
    })

    // update progress bar on click
    progress.addEventListener('click', e => {
        const clicked_percentage = (e.offsetX / progress_container.offsetWidth) * 100
        const audio_played = (clicked_percentage / 100) * player.duration
        let playing
        if (player.paused) {
            playing = false
        } else {
            playing = true
        }

        player.currentTime = audio_played
        if (playing === false) {
            play_button.src = "{% static 'main/media/pause.svg' %}"
            player.play()
        }
    })
    audio_tracks.addEventListener('click', e => {
        if (e.target.className === 'play_img') {
            let parent_cont

            if (e.target.nodeName === 'div') {
                parent_cont = e.target.parentNode
            } else {
                parent_cont = e.target.parentNode.parentNode
            }

            const newIndex = Array.from(audio_tracks.querySelectorAll('li')).indexOf(parent_cont)

            if (newIndex === compositionIndex) {
                playOrPause()
            } else {
                compositionIndex = newIndex
                setSRC()
                player.play()
            }
        }
    })

</script>

</body>

</html>