{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Music Player</title>
    <link rel="stylesheet" href=" {% static 'main/css/style.css' %} ">
</head>
<body>
<header>
    <div class="header_logo">
        Django Music Player
    </div>
</header>

<div class="player">
    <div class="imgbox">
        <img src="{% static 'main/media/$_10.JPG' %}" alt="music cover">
    </div>
    <p class="songname">The Grid (из фильма «ТРОН: Наследие»)</p>
    <p class="songauthor">Daft Punk</p>
    <div class="middle">
        <div class="slider-container">
            <span class="bar"><span class="fill"></span></span>
            <input id="slider" class="slider" type="range" min="0" max="100" value="0">

        </div>
    </div>
    <div class="timer">
        <span class="current-time">0:30</span>
        <span class="total_duration">1:05</span>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.slim.min.js"></script>
    <script>
        var $slider = $("#slider");
        var $fill = $(".bar .fill");

        function setBar() {
            $fill.css("width", $slider.val() + "%");
        }

        $slider.on("input", setBar);
        setBar();
    </script>

    <div class="buttons">
        <div class="prev-track"><img src="{% static 'main/media/previous.svg' %}" alt="prev"></div>
        <div class="play-track"><img src="{% static 'main/media/play.svg' %}" alt="play"></div>
        <div class="next-track"><img src="{% static 'main/media/next-track.svg' %}" alt="next "></div>
    </div>


</div>


</body>
</html>