* {
    padding: 0;
    margin: 0;
    background: #0C0F14;
    box-sizing: border-box;
    font-family: "Arial", system-ui;
}

body {
    background: url("../media/maxresdefault.jpg") repeat center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 48px;
}

header {
    border-color: #B4CDCA;
    border-style: solid;
    border-radius: 20px;
    color: #B4CDCA;
    font-size: 15px;
    font-weight: bold;

}

.header_logo {
    margin: 19px 0 19px 24px;
}

.player {
    margin: 50px auto 0 auto;
    width: 350px;
    background: #0C0F14;
    border-radius: 20px;
    border-color: #B4CDCA;
    border-style: solid;
    height: 584px;
}

.player .imgbox {
    position: relative;
    width: 347px;
    height: 347px;
    border-radius: 17px;
    border-color: #B4CDCA;
    border-style: solid;
    margin-top: -2px;
    margin-left: -1px;
}

.player .imgbox img {
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
}

.songname {
    color: #B4CDCA;
    font-family: "Arial", system-ui;
    font-size: 15px;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 13px;
}

.songauthor {
    color: #97B0AD;
    font-family: "Arial", system-ui;
    font-size: 12px;
    font-weight: bold;
    margin-top: 7px;
    margin-left: 13px;
    margin-bottom: 20px;
}

.player .middle {
    width: 100%;
}

.slider-container {
    position: relative;
}

.slider-container .bar {
    position: absolute;
    margin-left: 33px;
    z-index: 1;
    left: 0;
    top: 12px;
    width: 278px;
    height: 3px;
    border-radius: 1px;
    background-color: #6C8582;
    overflow: hidden;
}

.slider-container .bar .fill {
    display: block;
    width: 100px;
    height: 100%;
    background-color: #E0F9F6;
}

.slider-container .slider {
    position: relative;
    margin-left: 33px;
    z-index: 2;
    -webkit-appearance: none;
    width: 278px;
    height: 3px;
    border-radius: 1px;
    outline: none;
    background-color: transparent;
}

.slider-container .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: #E0F9F6;
    border-radius: 50%;
    border-color: #E0F9F6;
    cursor: pointer;
    outline: none;
}

.slider-container .slider:active::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
}

.slider-container .slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: #E0F9F6;
    border-radius: 50%;
    border-color: #E0F9F6;
    cursor: pointer;
    outline: none;
}

.slider-container .slider:active::-moz-range-thumb {
    height: 20px;
    width: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prev-track,
.play-track,
.next-track {
    cursor: pointer;
}

.prev-track {
    padding-left: 88px;

}

.play-track {
    padding-left: 23px;
}

.next-track {
    padding-left: 23px;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #97B0AD;
    margin: 8px 33px 16px 33px;
}

.music-list {
    margin: 26px auto 0 auto;
    width: 350px;
    background: #0C0F14;
    border-radius: 20px;
    border-color: #B4CDCA;
    border-style: solid;
}

.playlist-information {
    margin-top: 21px;
    margin-left: 21px;
    margin-right: 21px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.playlist-information .small-img-box {
    position: relative;
    width: 108px;
    height: 108px;
    border-radius: 17px;
    border-color: #B4CDCA;
    border-style: solid;
    margin-top: -2px;
    margin-left: -1px;
}

.playlist-information .small-img-box img {
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
}

.playlist-information .small-playlist-info {
    position: relative;
    width: 181px;
    height: 108px;
    border-radius: 17px;
    border-color: #B4CDCA;
    border-style: solid;
    margin-top: -2px;
    margin-left: -1px;
}

.songs {
    list-style-type: none;
    width: 303px;
    margin-bottom: 25px;
    border-radius: 17px;
    border-color: #B4CDCA;
    border-style: solid;
    margin-left: 20px;
    margin-top: 25px;
}

.song {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 9px;
}

.song-name {
    color: #B4CDCA;
    font-size: 12px;
    font-weight: bold;
}

.add_song {
    margin-left: 140px;
    margin-bottom: 10px;
    cursor: pointer;
}