* {
    padding: 0;
    margin: 0;
    background: #0C0F14;
    box-sizing: border-box;
}

body {
    background: url("../media/maxresdefault.jpg") no-repeat center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    border-color: #B4CDCA;
    border-style: solid;
    border-radius: 20px;
    color: #B4CDCA;
    font-family: "Arial", system-ui;
    font-size: 15px;
    font-weight: bold;

}

.header_logo {
    margin: 19px 0 19px 24px;
}

.player {
    margin: 50px auto;
    width: 350px;
    background: #0C0F14;
    border-radius: 20px;
    border-color: #B4CDCA;
    border-style: solid;
    height: 584px;
}

.player .imgbox {
    position: relative;
    width: 347px;
    height: 347px;
    border-radius: 17px;
    border-color: #B4CDCA;
    border-style: solid;
    margin-top: -2px;
    margin-left: -1px;
}

.player .imgbox img {
    #position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
}

.player .songname {
    color: #B4CDCA;
    font-family: "Arial", system-ui;
    font-size: 15px;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 13px;
}

.player .songauthor {
    color: #97B0AD;
    font-family: "Arial", system-ui;
    font-size: 12px;
    font-weight: bold;
    margin-top: 7px;
    margin-left: 13px;
    margin-bottom: 20px;
}

.player .middle {
    width: 100%;
}

.slider-container {
    position: relative;
}

.slider-container .bar {
    position: absolute;
    margin-left: 33px;
    z-index: 1;
    left: 0;
    top: 12px;
    width: 278px;
    height: 3px;
    border-radius: 1px;
    background-color: #6C8582;
    overflow: hidden;
}

.slider-container .bar .fill {
    display: block;
    width: 0;
    height: 100%;
    background-color: #E0F9F6;
}

.slider-container .slider {
    position: relative;
    margin-left: 33px;
    z-index: 2;
    -webkit-appearance: none;
    width: 278px;
    height: 3px;
    border-radius: 1px;
    outline: none;
    background-color: transparent;
}

.slider-container .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: #E0F9F6;
    border-radius: 50%;
    border-color: #E0F9F6;
    cursor: pointer;
    outline: none;
}

.slider-container .slider:active::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
}

.slider-container .slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: #E0F9F6;
    border-radius: 50%;
    border-color: #E0F9F6;
    cursor: pointer;
    outline: none;
}

.slider-container .slider:active::-moz-range-thumb {
    height: 20px;
    width: 20px;
}